.header {
    //background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.body {
    display: flex;
    background-image: url('../assets/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding: 50px;

    .make-transfer {
        margin-right: 20px;
        
    }
}